@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "title";
  src: url("../public/fonts/ChakraPetch-Light.ttf");
}
@font-face {
    font-family: "content";
    src: url("../public/fonts/Comfortaa-Medium.ttf");
  }
  @font-face {
    font-family: "number";
    src: url("../public/fonts/Orbitron-Regular.ttf");
  }